:where(.css-dev-only-do-not-override-1okl62o).ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-light>.ant-menu .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-light>.ant-menu .ant-menu-submenu-selected>.ant-menu-submenu-title {
    color: #e83c7e !important;
}

:where(.css-dev-only-do-not-override-1okl62o).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-light>.ant-menu .ant-menu-item-selected {
    background-color: #fff1fe !important;
}

:where(.css-dev-only-do-not-override-1okl62o).ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-light>.ant-menu .ant-menu-submenu-selected>.ant-menu-submenu-title {
    background-color: #fff1fe !important;
}

.main-content {
    padding-top: 64px;
}

.fixed-sidebar {
    position: sticky !important;
    top: 85px !important;
}

/* Layout */
.ant-layout-header {
    background-color: #e83c7e !important;
}

/* Button */
.ant-btn-primary {
    background-color: #e83c7e !important;
    border-color: #e83c7e !important;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
    background-color: #d32f6e !important;
    border-color: #d32f6e !important;
}

.ant-btn-default:hover,
.ant-btn-default:focus {
    color: #e83c7e !important;
    border-color: #e83c7e !important;
}

/* Checkbox */
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus+.ant-checkbox-inner {
    border-color: #e83c7e !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #e83c7e !important;
    border-color: #e83c7e !important;
}

/* Dropdown */
.ant-dropdown-link {
    color: #e83c7e !important;
}

.ant-dropdown-link:hover,
.ant-dropdown-link:focus {
    color: #d32f6e !important;
}

/* Input */
.ant-input:hover {
    border-color: #e83c7e !important;
}

.ant-input:focus {
    border-color: #d32f6e !important;
    box-shadow: 0 0 0 2px rgba(231, 60, 126, 0.2) !important;
}

.ant-input-password:hover {
    border-color: #e83c7e !important;
}

.ant-input-password:focus {
    border-color: #d32f6e !important;
    box-shadow: 0 0 0 2px rgba(231, 60, 126, 0.2) !important;
}

/* Link */
.ant-btn-link {
    color: #e83c7e !important;
}

.ant-btn-link:hover,
.ant-btn-link:focus {
    color: #d32f6e !important;
}

/* Radio */
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus+.ant-radio-inner {
    border-color: #e83c7e !important;
}

.ant-radio-checked .ant-radio-inner {
    border-color: #e83c7e !important;
}

.ant-radio-checked .ant-radio-inner:after {
    background-color: #e83c7e !important;
}

/* Select */
.ant-select:after(.ant-select-customize-input) .ant-select-selector {
    border-color: #e83c7e !important;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: #d32f6e !important;
    box-shadow: 0 0 0 2px rgba(231, 60, 126, 0.2) !important;
}

.ant-select:hover:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: #e83c7e !important;
}

.ant-select-item .ant-select-item-option .ant-select-item-option-selected .ant-select-item-option-content {
    color: 0 0 0 2px rgba(231, 60, 126, 0.2) !important;
}

/* Switch */
.ant-switch-checked {
    background-color: #e83c7e !important;
}

/* Spin */
.ant-spin-dot-item {
    background-color: #e83c7e !important;
}

/* Steps */
.ant-steps .ant-steps-item-process .ant-steps-item-icon {
    background-color: #e83c7e !important;
    border-color: #e83c7e !important;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon {
    background-color: #fff1fe;
    border-color: #ffe6fd;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
    color: #e83c7e !important;
}

.custom-steps {
    white-space: pre-wrap;
    text-align: center;
    display: block;
    margin-top: 8px;
}

.custom-steps .ant-steps-item-title.inactive {
    display: none;
}

/* Pagination */
.ant-pagination .ant-pagination-item-active,
.ant-pagination .ant-pagination-item-active a,
.ant-pagination .ant-pagination-prev,
.ant-pagination .ant-pagination-next,
.ant-pagination .ant-pagination-item-active:hover,
.ant-pagination .ant-pagination-item-active a:hover,
.ant-pagination .ant-pagination-prev:hover,
.ant-pagination .ant-pagination-next:hover {
    color: #e83c7e;
    border-color: #e83c7e;
}

/* Product Card */
.product-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}